<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine Learning </title>
</head>
<body>
   


<form method="POST" action="/">

    <label for="inputmedhousing">Median House Price (By Zipcode)</label>
    <input type="number" id="inputAddress" name="medhousing">
    <br/>

    <label for="inputYearBuilt">Year Built</label>
    <input type="number" id="inputBedrooms" name="yearbuilt">
    <br/>

    <label for="inputBathrooms"># of Bathrooms</label>
    <input type="number" id="inputBathrooms" name="bathrooms">
    <br/>

    <label for="inputBedrooms"># of Bedrooms</label>
    <input type="number" id="inputArea" name="bedrooms">
    <br/>

    <label for="inputAcres">Lot Size (Acres)</label>
    <input type="number" step="0.01" id="inputCity" name="acres">
    <br/>

    <label for="inputGraduates">% Of Population High School Graduates (By Zipcode)</label>
    <input type="number" id="inputState" name="graduates">
    <br/>

    <label for="inputFoodStamps">% Of Population Receiving Foodstamps (By Zipcode)</label>
    <input type="number" id="inputState" name="foodstamps">
    <br/>

    <input type="submit" href="/" value="submit">

</form>

<p>The estimated price is : ${{ output2 }}</p>

</body>
</html>

