<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Real Estate CRM</title>
    <meta name="description" content="Real Estate is a Dashboard & Admin Site Responsive Template." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Droopy Admin, Droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Data table CSS -->
    <link href="{{ url_for('static', filename='vendors/bower_components/datatables/media/css/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />

    <!-- Toast CSS -->
    <link href="{{ url_for('static', filename='vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='full-width-light/dist/css/style.css')}}" rel="stylesheet" type="text/css">

    <!-- Pusher CSS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <div class="wrapper  theme-5-active pimary-color-green">
        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="mobile-only-brand pull-left">
                <div class="nav-header pull-left">
                    <div class="logo-wrap">
                        <a href="/index">
                            <img class="brand-img" src="{{ url_for('static', filename='img/logo.png')}}" alt="brand" />
                            <span class="brand-text">RealEZ</span>
                        </a>
                    </div>
                </div>
                <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
                <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
                <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
                <form id="search_form" role="search" class="top-nav-search collapse pull-left">
                    <div class="input-group">
                        <input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
						<button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
						</span>
                    </div>
                </form>
            </div>
            <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                <ul class="nav navbar-right top-nav pull-right">

                </ul>
            </div>
        </nav>
        <!-- /Top Menu Items -->

        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li class="navigation-header">
                    <span>Main</span>
                    <i class="zmdi zmdi-more"></i>
                </li>
                <li>
                    <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr">
                        <div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div>
                        <div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="dashboard_dr" class="collapse collapse-level-1">
                        <li>
                            <a class="active-page" href="/">Real Estate</a>
                        </li>
                        <li>
                            <a href="/index">Analytical</a>
                        </li>



                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr">
                        <div class="pull-left"><i class="zmdi zmdi-apps mr-20"></i><span class="right-nav-text">Apps </span></div>
                        <div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="app_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="/chats">chats</a>
                        </li>
                        <li>
                            <a href="/calendar">calendar</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#email_dr">Email<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                            <ul id="email_dr" class="collapse collapse-level-2">
                                <li>
                                    <a href="/inbox">inbox</a>
                                </li>
                                <li>
                                    <a href="/inbox-detail">detail email</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#contact_dr">Contacts<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                            <ul id="contact_dr" class="collapse collapse-level-2">
                                <li>
                                    <a href="/contact-list">list</a>
                                </li>
                                <li>
                                    <a href="/contact-card">cards</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/file-manager">File Manager</a>
                        </li>
                        <li>
                            <a href="/todo-tasklist">To Do/Tasklist</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <hr class="light-grey-hr mb-10" />
                </li>
                <li class="navigation-header">
                    <span>component</span>
                    <i class="zmdi zmdi-more"></i>
                </li>

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr">
                        <div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Forms</span></div>
                        <div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="form_dr" class="collapse collapse-level-1 two-col-list">
                        <li>
                            <a href="/form-layout">Customer Form</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#table_dr">
                        <div class="pull-left"><i class="zmdi zmdi-format-size mr-20"></i><span class="right-nav-text">Data Science</span></div>
                        <div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="table_dr" class="collapse collapse-level-1 two-col-list">
                        <li>
                            <a href="/machinelearning">Machine Learning</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /Left Sidebar Menu -->

        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid pt-25">

                <!-- Row -->

                <!-- /Row -->
                <form method="POST" id="target">
                    <!-- <div class="form-group">
                            <input type="text" class="form-control" name="seller" value="{{data.seller}}" placeholder="Seller">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="buyer" value="{{data.buyer}}" placeholder="Buyer">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="sold_price" value="{{data.sold_price}}"placeholder="Sold Price">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control datetime" name="closing_date" value="{{data.closing_date}}" placeholder="Closing Date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Type" value="{{data.Type}}" placeholder="Type">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="status" value="{{data.status}}" placeholder="Status">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" value="{{data.address}}" placeholder="Address">
                        </div> -->

                    <!-- <button type="submit" class="btn btn-block btn-primary">Update</button> -->

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="seller" placeholder="Seller">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="buyer" placeholder="Buyer">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" name="sold_price" placeholder="Sold Price">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control datetime" name="closing_date" placeholder="Closing Date">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="Type" placeholder="Type">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="status" placeholder="Status">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="address" placeholder="Address">
                    </div>
                    <!-- <div class="form-row">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-success btn-sm">Update</button>
                </form>


                <!-- Footer -->
                <footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>2019 CWR Data Analytics Bootcamp - Final Project</p>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->


                <!-- /Main Content -->


                <!-- /#wrapper -->

                <!-- JavaScript -->

                <!-- jQuery -->
                <script src="{{ url_for('static', filename='vendors/bower_components/jquery/dist/jquery.min.js')}}"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

                <!-- Data table JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')}}"></script>

                <!-- Flot Charts JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/excanvas.min.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.pie.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.resize.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.time.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.stack.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/Flot/jquery.flot.crosshair.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')}}"></script>
                <script src="{{ url_for('static', filename='full-width-light/dist/js/flot-data.js')}}"></script>

                <!-- Slimscroll JavaScript -->
                <script src="{{ url_for('static', filename='full-width-light/dist/js/jquery.slimscroll.js')}}"></script>

                <!-- simpleWeather JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/moment/min/moment.min.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js')}}"></script>
                <script src="{{ url_for('static', filename='full-width-light/dist/js/simpleweather-data.js')}}"></script>

                <!-- Progressbar Animation JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/waypoints/lib/jquery.waypoints.min.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/jquery.counterup/jquery.counterup.min.js')}}"></script>

                <!-- EChartJS JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/echarts/dist/echarts-en.min.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/echarts-liquidfill.min.js')}}"></script>

                <!-- Progressbar Animation JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/waypoints/lib/jquery.waypoints.min.js')}}"></script>
                <script src="{{ url_for('static', filename='vendors/bower_components/jquery.counterup/jquery.counterup.min.js')}}"></script>

                <!-- Fancy Dropdown JS -->
                <script src="{{ url_for('static', filename='full-width-light/dist/js/dropdown-bootstrap-extended.js')}}"></script>

                <!-- Sparkline JavaScript -->
                <!-- <script src="{{ url_for('static', filename='vendors/jquery.sparkline/dist/jquery.sparkline.min.js')}}"></script> -->

                <!-- Owl JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')}}"></script>

                <!-- Toast JavaScript -->
                <!-- <script src="{{ url_for('static', filename='vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js')}}"></script> -->

                <!-- Piety JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/peity/jquery.peity.min.js')}}"></script>
                <script src="{{ url_for('static', filename='full-width-light/dist/js/peity-data.js')}}"></script>

                <!-- Switchery JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/switchery/dist/switchery.min.js')}}"></script>

                <!-- Bootstrap Select JavaScript -->
                <script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>

                <!-- Init JavaScript -->
                <script src="{{ url_for('static', filename='full-width-light/dist/js/init.js')}}"></script>
                <script src="{{ url_for('static', filename='full-width-light/dist/js/dashboard6-data.js')}}"></script>


                <!-- Pusher JS and scripts-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
                <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

                <script src="{{ url_for('static', filename='custom.js')}}"></script>
</body>

</html>