<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Real Estate CRM </title>
		<meta name="description" content="Real Estate is a Dashboard & Admin Site Responsive Template." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Droopy Admin, Droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!-- Calendar CSS -->
		<link href="{{ url_for('static', filename='vendors/bower_components/fullcalendar/dist/fullcalendar.css') }}" rel="stylesheet" type="text/css"/>
		
		<!-- vector map CSS -->
		<!-- <link href="{{ url_for('static', filename='vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/> -->
		<link href="{{ url_for('static', filename='vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
		
		<!-- Custom CSS -->
		<link href="{{ url_for('static', filename='full-width-light/dist/css/style.css') }}" rel="stylesheet" type="text/css">

	</head>
	
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper  theme-1-active pimary-color-green">
		
			<!-- Top Menu Items -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="mobile-only-brand pull-left">
					<div class="nav-header pull-left">
						<div class="logo-wrap">
							<a href="/index">
								<img class="brand-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="brand" />
								<span class="brand-text">RealEZ</span>
							</a>
						</div>
					</div>
					<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
					<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
					<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
					<form id="search_form" role="search" class="top-nav-search collapse pull-left">
						<div class="input-group">
							<input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
							<span class="input-group-btn">
							<button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
							</span>
						</div>
					</form>
				</div>
				<div id="mobile_only_nav" class="mobile-only-nav pull-right">
					<ul class="nav navbar-right top-nav pull-right">
						
					</ul>
				</div>
			</nav>
			<!-- /Top Menu Items -->
			
			<!-- Left Sidebar Menu -->
			<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span>Main</span>
						<i class="zmdi zmdi-more"></i>
					</li>
					<li>
						<a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr">
							<div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div>
							<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
							<div class="clearfix"></div>
						</a>
						<ul id="dashboard_dr" class="collapse collapse-level-1">
							
							<li>
								<a class="active-page" href="/index6">General Dashboard</a>
							</li>

							<li>
								<a href="/index">Personal Dashboard</a>
							</li>
	
							
						</ul>
					</li>
	
					<li>
						<a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr">
							<div class="pull-left"><i class="zmdi zmdi-apps mr-20"></i><span class="right-nav-text">Apps </span></div>
							<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
							<div class="clearfix"></div>
						</a>
						<ul id="app_dr" class="collapse collapse-level-1">
							<li>
								<a href="/chats">chats</a>
							</li>
							<li>
								<a href="/calendar">calendar</a>
							</li>
							<li>
								<a href="javascript:void(0);" data-toggle="collapse" data-target="#email_dr">Email<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
								<ul id="email_dr" class="collapse collapse-level-2">
									<li>
										<a href="/inbox">inbox</a>
									</li>
									<li>
										<a href="/inbox-detail">detail email</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="javascript:void(0);" data-toggle="collapse" data-target="#contact_dr">Contacts<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
								<ul id="contact_dr" class="collapse collapse-level-2">
									<li>
										<a href="/contact-list">list</a>
									</li>
									<li>
										<a href="/contact-card">cards</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/file-manager">File Manager</a>
							</li>
							
						</ul>
					</li>
					<li>
						<hr class="light-grey-hr mb-10" />
					</li>
					<li class="navigation-header">
						<span>component</span>
						<i class="zmdi zmdi-more"></i>
					</li>
	
					<li>
						<a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr">
							<div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Forms</span></div>
							<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
							<div class="clearfix"></div>
						</a>
						<ul id="form_dr" class="collapse collapse-level-1 two-col-list">
							<li>
								<a href="/form-layout">Customer Form</a>
							</li>
							
						</ul>
					</li>
	
					<li>
						<a href="javascript:void(0);" data-toggle="collapse" data-target="#table_dr">
							<div class="pull-left"><i class="zmdi zmdi-format-size mr-20"></i><span class="right-nav-text">Data Science</span></div>
							<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
							<div class="clearfix"></div>
						</a>
						<ul id="table_dr" class="collapse collapse-level-1 two-col-list">
								<li>
									<a href="/machinelearning">Machine Learning</a>
								</li>
						</ul>
					</li>
	
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->
			
			<!-- Right Sidebar Menu -->
			<!-- /Right Sidebar Menu -->
			
			<!-- Right Sidebar Backdrop -->
			<!-- <div class="right-sidebar-backdrop"></div> -->
			<!-- /Right Sidebar Backdrop -->
				
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h5 class="txt-dark">Customer Set Up</h5>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<li><a href="/index">Dashboard</a></li>
								<li><a href="#"><span>form</span></a></li>
								<li class="active"><span>form-layout</span></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->			
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Generals</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-12">
												<div class="form-wrap">
													<form action="#" class="form-horizontal">
														<div class="form-body">
															<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Person's Info</h6>
															<hr class="light-grey-hr"/>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">First Name</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control" placeholder="John doe">
																			<span class="help-block"> This is inline help </span> 
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group has-error">
																		<label class="control-label col-md-3">Last Name</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control" placeholder="12n">
																			<span class="help-block"> This field has error. </span> 
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Budget</label>
																		<div class="col-md-9">
																			<select class="form-control">
																				<option value="">$0</option>
																				<option value="">$50,000 to $150,000</option>
																				<option value="">$150,000 to $300,000</option>
																				<option value="">$300,000 to $500,000</option>
																				<option value="">$500,000 to $750,000</option>
																				<option value="">>$750,000</option>
																			</select>
																			<span class="help-block"> Select your gender. </span> 
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Date of Birth</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control" placeholder="dd/mm/yyyy">
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Category</label>
																		<div class="col-md-9">
																			<select class="form-control" data-placeholder="Choose a Category" tabindex="1">
																				<option value="Category 1">Category 1</option>
																				<option value="Category 2">Category 2</option>
																				<option value="Category 3">Category 5</option>
																				<option value="Category 4">Category 4</option>
																			</select>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Option</label>
																		<div class="col-md-9">
																			<div class="radio-list">
																				<div class="radio-inline pl-0">
																					<span class="radio radio-info">																					<input type="radio" name="radio7" id="radio_9" value="option1">
																						<label for="radio_9">Buying</label>
																					</span>
																				</div>
																				<div class="radio-inline pl-0">
																					<span class="radio radio-info">																				<input type="radio" name="radio7" id="radio_10" value="option2">
																						<label for="radio_10">Renting</label>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															
															<div class="seprator-block"></div>
															
															<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>address</h6>
															<hr class="light-grey-hr"/>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Address 1</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control">
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Address 2</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control">
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">City</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control">
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">State</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control">
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Post Code</label>
																		<div class="col-md-9">
																			<input type="text" class="form-control">
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label col-md-3">Country</label>
																		<div class="col-md-9">
																			<select class="form-control">
																				<option>Country 1</option>
																				<option>Country 2</option>
																			</select>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
														</div>
														<div class="form-actions mt-10">
															<div class="row">
																<div class="col-md-6">
																	<div class="row">
																		<div class="col-md-offset-3 col-md-9">
																			<button type="submit" class="btn btn-success  mr-10">Submit</button>
																			<button type="button" class="btn btn-default">Cancel</button>
																		</div>
																	</div>
																</div>
																<div class="col-md-6"> </div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
					
					<!-- /Row -->

					<div class="form-row">
					<div class="col-md-4">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Checkbox Circle</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<p class="text-muted"> Mark all the options that meet your criteria </p> 
									<div class="row mt-10">
										<div class="col-sm-12">
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox7" type="checkbox">
												<label for="checkbox7"> Simply Rounded </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox8" type="checkbox" checked>
												<label for="checkbox8"> Info </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox-9" type="checkbox">
												<label for="checkbox-9"> Primary </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox-10" type="checkbox" checked>
												<label for="checkbox-10"> Success </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox-11" type="checkbox">
												<label for="checkbox-11"> Warning </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox-12" type="checkbox" checked>
												<label for="checkbox-12"> Danger </label>
											</div>
											<div class="checkbox checkbox-success checkbox-circle">
												<input id="checkbox-15" type="checkbox" checked>
												<label for="checkbox-15"> Inverse </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Select Boxes begins-->
					
					<div class="col-md-6">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Bootstrap Select boxes</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<p class="text-muted">Just add bootstrap-select-min.js and same css & add class <code>.selectpicker</code></p>
									<div class="form-wrap mt-40">
										<form>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label mb-10">Select box</label>
														<select class="selectpicker" data-style="form-control btn-default btn-outline">
															<option>Mustard</option>
															<option>Ketchup</option>
															<option>Relish</option>
														</select>
													</div>	
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label mb-10">Select boxes with optgroups</label>
														<select class="selectpicker" data-style="form-control btn-default btn-outline">
															<optgroup label="Picnic">
																<option>Mustard</option>
																<option>Ketchup</option>
																<option>Relish</option>
															</optgroup>
															<optgroup label="Camping">
																<option>Tent</option>
																<option>Flashlight</option>
																<option>Toilet Paper</option>
															</optgroup>
														</select>
													</div>
												</div>	
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label mb-10">Multiple select boxes</label>
														<select class="selectpicker" multiple data-style="form-control btn-default btn-outline">
															<option>Mustard</option>
															<option>Ketchup</option>
															<option>Relish</option>
														</select>
													</div>	
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!--Select boxes ends-->	
				</div>
					<!-- /Row -->


					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Additional Comments</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<textarea class="tinymce"></textarea>
									</div>
								</div>
							</div>
						</div>
					
					<!-- /Row -->

					<!-- /Row -->
				
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>2019 CWR Data Analytics Bootcamp - Final Project</p>
						</div>
					</div>
				</footer>
				<!-- /Footer -->
			
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="{{ url_for('static', filename='vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<!-- <script src="{{ url_for('static', filename='vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js') }}"></script> -->

		<!-- Calender JavaScripts -->
	<script src="{{ url_for('static', filename='vendors/bower_components/moment/min/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='full-width-light/dist/js/fullcalendar-data.js') }}"></script>

		<!-- Moment JavaScript -->
		<script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/moment/min/moment-with-locales.min.js') }}"></script>

		<!-- Bootstrap Colorpicker JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>

		<!-- Tinymce JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/tinymce/tinymce.min.js') }}"></script>
			
		<!-- Tinymce Wysuhtml5 Init JavaScript -->
		<script src="{{ url_for('static', filename='full-width-light/dist/js/tinymce-data.js') }}"></script>

		<!-- Select2 JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
		
		<!-- Bootstrap Select JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
		
		<!-- Bootstrap Tagsinput JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
		
		<!-- Bootstrap Touchspin JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js') }}"></script>
		
		<!-- Multiselect JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/multiselect/js/jquery.multi-select.js') }}"></script>
		
		 
		<!-- Bootstrap Switch JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js') }}"></script>
		
		<!-- Bootstrap Datetimepicker JavaScript -->
		<script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
		
		<!-- Form Advance Init JavaScript -->
		<script src="{{ url_for('static', filename='full-width-light/dist/js/form-advance-data.js') }}"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="{{ url_for('static', filename='full-width-light/dist/js/jquery.slimscroll.js') }}"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="{{ url_for('static', filename='full-width-light/dist/js/dropdown-bootstrap-extended.js') }}"></script>
		
		<!-- Owl JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/owl.carousel/dist/owl.carousel.min.js') }}"></script>
	
		<!-- Switchery JavaScript -->
		<script src="{{ url_for('static', filename='vendors/bower_components/switchery/dist/switchery.min.js') }}"></script>
	
		<!-- Init JavaScript -->
		<script src="{{ url_for('static', filename='full-width-light/dist/js/init.js') }}"></script>

	</body>
</html>
