<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Realtor App</title>

  <!-- Leaflet CSS & JS -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="crossorigin=""></script>

  <!-- Our CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <!-- The div where we will inject our map -->
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Sales</h5>
        <p class="card-text" id='output_tip'>$0</p>
      </div>
</div>
  <div id="pmap"></div>
  

  <!-- API key -->
  <script type="text/javascript" src="config.js"></script>
  <!-- Our JS -->
  
  <script type="text/javascript" src="leaflet-heat2.js"></script>
  <script type="text/javascript" src="data2.js"></script>
  <script type="text/javascript" src="logic2.js"></script>
  
</body>
</html>