<form method="POST" action="/Registration">

    <label for="inputAddress">address</label>
    <input type="text" id="inputAddress" name="address">

    <label for="inputBedrooms">bedrooms</label>
    <input type="text" id="inputBedrooms" name="bedrooms">

    <label for="inputBathrooms">bathrooms</label>
    <input type="text" id="inputBathrooms" name="bathrooms">

    <label for="inputArea">area</label>
    <input type="text" id="inputArea" name="area">

    <label for="inputCity">city</label>
    <input type="text" id="inputCity" name="city">

    <label for="inputState">state</label>
    <input type="text" id="inputState" name="state">

    <input type="submit" value="submit">
</form>
